<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460290930309-gglcs83n6l9oe8u0cgv96upn294b4f8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460290930309-gglcs83n6l9oe8u0cgv96upn294b4f8u</string>
	<key>API_KEY</key>
	<string>AIzaSyB2l_1Lodo-mBVWwwMLKU6u0xfc4lHlOcs</string>
	<key>GCM_SENDER_ID</key>
	<string>460290930309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chin.logintest</string>
	<key>PROJECT_ID</key>
	<string>logintest-4a49a</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-4a49a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460290930309:ios:00d82bc3af251a69e3dbec</string>
	<key>DATABASE_URL</key>
	<string>https://logintest-4a49a.firebaseio.com</string>
</dict>
</plist>